<!-- navbar-->
	<nav role='navigation' class="navbar navbar-custom navbar-fixed-top">
		<div class="container-fluid">
			<div class='navbar-header'>
				<a class="navbar-brand" href="#">Online Notes</a>
				<button type="button" class="navbar-toggle" data-target="#navbarCollapse" data-toggle="collapse">
					<span class="sr-only">Toggle-navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="navbarCollapse">
				<ul class="nav navbar-nav">
					<li><a href="/onlinenotes/profile">Profile</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="#">Contact us</a></li>
          <li ><a href="/onlinenotes/">My Notes</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
          <li><a href="#" >Logged in as <strong>{{request.user}}</strong></a></li>
					<li><a href="/onlinenotes/logout" >Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>